
form{
    margin-top: 30px;
    text-align: center;
}

form input{
    margin-bottom: 10px;
}



.card{
    margin-top: 40px;
    padding: 5px;
}

.textos {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    font-weight: bold;
}

.card a{
    margin-top: 5px;
}